body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#map {
    flex: 2;
    height: 100%;
    border-right: 1px solid #ddd;
    position: relative;
    top: 0;
    bottom: 0;
    width: auto;
    z-index: 1;
}

.sidebar {
    flex: 1;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #f6f6f6;
    overflow-y: auto;
}

canvas#chart, canvas#scatter {
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
}

/* Button styling */
#toggleButton {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0; /* Space above and below the button */
    transition: background-color 0.3s;
}

#toggleButton:hover {
    background-color: #2980b9;
}

/* Info div styling */
#info div {
    background-color: #f7f7f7;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px; /* Space between each div */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    border: 1px solid #e0e0e0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Info button styling */
.info-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.info-btn:hover {
    background-color: #d1d1d1;
}

/* Info textbox styling */
.info-textbox {
    display: none;
    position: absolute;
    top: 30px;
    right: 5px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 150px;
    font-size: 12px;
}

.chart-container {
    position: relative;
    margin-bottom: 20px;
}
